<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<th:block layout:fragment="content_body">

    <div class="col-md-6">
        <div class="title">
            <h2>eCommerce Dashboard</h2>
        </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#0">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        eCommerce
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- end col -->
</th:block>

<th:block layout:fragment="page_js">
</th:block>
</body>
</html>

