<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sign Up</title>

    <link rel="stylesheet" th:href="@{/lib/plain-admin/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/plain-admin/css/lineicons.css}" />
    <link rel="stylesheet" th:href="@{/lib/plain-admin/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/plain-admin/css/fullcalendar.css}" />
    <link rel="stylesheet" th:href="@{/lib/plain-admin/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />

</head>
<body>
<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <!-- ========== title-wrapper end ========== -->
    <div class="row g-0 auth-row">
        <div class="col-lg-6">
            <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                    <div class="title text-center">
                        <h1 class="text-primary mb-10">Get Started</h1>
                        <p class="text-medium">
                            Start creating the best possible user experience
                            <br class="d-sm-block">
                            for you customers.
                        </p>
                    </div>
                    <div class="cover-image">
                        <img th:src="@{/lib/plain-admin/images/auth/signin-image.svg}" alt="">
                    </div>
                    <div class="shape-image">
                        <img th:src="@{/lib/plain-admin/images/auth/shape.svg}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-6">
            <div class="signup-wrapper">
                <div class="form-wrapper">
                    <h6 class="mb-15">Sign Up Form</h6>
                    <p class="text-sm mb-25">
                        Start creating the best possible user experience for you
                        customers.
                    </p>
                    <form id="signupForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-style-1">
                                    <label for="id">ID</label>
                                    <input type="text" placeholder="ID" name="id" id="id">
                                    <p class="text-danger text-end"></p>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                                <div class="input-style-1">
                                    <label for="email">Email</label>
                                    <input type="email" placeholder="Email" name="email" id="email">
                                    <p class="text-danger text-end"></p>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                                <div class="input-style-1">
                                    <label for="password">Password</label>
                                    <input type="password" placeholder="Password" name="password" id="password">
                                    <p class="text-danger text-end"></p>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                                <div class="input-style-1">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
                                    <p class="text-danger text-end"></p>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                                <div class="button-group d-flex justify-content-center flex-wrap">
                                    <button class="main-btn primary-btn btn-hover w-100 text-center" type="button" id="signupBtn">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </form>
                    <div class="singup-option pt-40">
                        <p class="text-sm text-medium text-center text-gray">
                            Easy Sign Up With
                        </p>
                        <div class="button-group pt-40 pb-40 d-flex justify-content-center flex-wrap">
<!--                            <button class="main-btn warning-btn-outline m-2">-->
<!--                                <i class="mdi mdi-chat-question"></i>-->
<!--                                Kakao-->
<!--                            </button>-->
                            <a class="main-btn danger-btn-outline m-2 text-decoration-none" th:href="@{/oauth2/authorization/google}">
                                <i class="lni lni-google mr-10"></i>
                                Google
                            </a>
                        </div>
                        <p class="text-sm text-medium text-dark text-center">
                            Already have an account? <a th:href="@{/login}">Sign In</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

<script th:src="@{/lib/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/lib/jquery-modal/0.9.1/jquery.modal.min.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/sign/signup.js}"></script>
</body>
</html>