<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.starters.sign.mapper.SignMapper">
    <select id="selectIdExist" resultType="int" parameterType="com.example.starters.sign.param.CheckStringParam">
        SELECT
            COUNT(*)
        FROM
            temp1.TBL_USER A
        WHERE
            A.USER_ID = #{checkString}
    </select>
</mapper>
